# Node.js dependencies
/node_modules

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
#.env # Dans un vrai project, on ne partage pas le .env dans git
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build / dist output
/dist
/build
/coverage
/.nyc_output

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.swp

# Optional: lockfiles (if you want students to install fresh each time)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
